# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

import json
import ipywidgets as widgets
import requests
import time
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
# Load csv

weather_data = pd.read_csv("../Output_Data/cities.csv")
weather_data

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Butaritari,3.0707,172.7902,83.88,73,10,18.14,KI,1632791263
1,Vaini,-21.2000,-175.2000,80.76,78,20,6.91,TO,1632791270
2,Pevek,69.7008,170.3133,23.76,74,100,5.73,RU,1632791260
3,Fukuechō,32.6881,128.8419,77.14,77,86,7.63,JP,1632791549
4,Cherskiy,68.7500,161.3000,22.95,95,100,17.49,RU,1632791381
...,...,...,...,...,...,...,...,...,...
567,Egvekinot,66.3167,-179.1667,27.07,81,100,2.95,RU,1632791410
568,Panabá,21.2833,-88.2667,76.32,90,1,7.85,MX,1632791693
569,Canavieiras,-15.6750,-38.9472,71.87,88,6,4.74,BR,1632791694
570,North Bend,43.4065,-124.2243,57.85,97,40,10.36,US,1632791258
571,Uruaçu,-14.5247,-49.1408,85.01,32,100,2.48,BR,1632791694

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
# Configure gmaps
gmaps.configure(api_key = g_key)

# Use the Lat and Lng as locations and Humidity as the weight.
locations = weather_data[["Latitude", "Longitude"]]

# and Humidity as the weight.
weights = weather_data["Humidity"]

# Pass API key
gmaps.configure(api_key = g_key)

# Create plot
fig = gmaps.figure(center=[0, 0], zoom_level=2)

# Create and add heat layer
heat_layer = gmaps.heatmap_layer(locations, weights, dissipating = False, max_intensity = 100, point_radius = 3)
fig.add_layer(heat_layer)

# Display plot
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
# Identify cities that meet criteria: wind speed < 5 mph, cloudiness < 10, max temp between 75 and 90
weather_criteria_df = weather_data.loc[(weather_data["Wind Speed"]<=5) & (weather_data["Cloudiness"]<=10) & (weather_data["Max Temp"]>=75) & (weather_data["Max Temp"]<=90)].dropna()
weather_criteria_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
56,Plácido de Castro,-10.3353,-67.1856,80.92,57,5,2.55,BR,1632791559
62,Atambua,-9.1061,124.8925,85.23,46,8,1.21,ID,1632791560
85,Iowa City,41.6611,-91.5302,77.65,61,1,0.00,US,1632791507
114,Douglas,41.3000,-96.1670,80.58,61,1,1.01,US,1632791253
142,Hongjiang,27.1100,109.9956,84.27,66,0,2.01,CN,1632791577
188,Adrar,20.5022,-10.0711,89.02,11,0,1.86,MR,1632791589
191,Hong Kong,22.2855,114.1577,86.38,79,4,1.01,HK,1632791103
221,Temple,31.0982,-97.3428,84.58,47,1,1.01,US,1632791597
233,Guilin,25.2819,110.2864,83.14,72,6,0.76,CN,1632791601
297,Pierre,44.3683,-100.3510,82.85,43,1,1.99,US,1632791619
329,Yasothon,15.7500,104.1333,79.86,83,8,3.56,TH,1632791628
396,Shanghai,31.2222,121.4581,82.87,77,0,2.24,CN,1632791600
422,Lincoln,40.8000,-96.6670,83.55,50,1,1.99,US,1632791563
455,Payson,40.0444,-111.7321,80.35,36,1,3.44,US,1632791661
459,Brandon,27.9378,-82.2859,82.31,76,1,1.01,US,1632791413
534,Fomboni,-12.2800,43.7425,76.53,73,1,0.94,KM,1632791685
557,Mīnāb,27.1467,57.0801,83.89,73,6,1.23,IR,1632791690

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
 
# Create hotel DataFrame named hotel_df.
hotel_df = weather_criteria_df.loc[:, ["City", "Latitude", "Longitude", "Country"]]
# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"]= ""

#created a Panda DataFrame
hotel_df = pd.DataFrame(weather_criteria_df, columns=['City', 'Country', 'Latitude', 'Longitude', 'Max Temp', 'Hotel Name'])


# Display New Hotel DataFrame
hotel_df

                  City Country  Latitude  Longitude  Max Temp  Hotel Name
56   Plácido de Castro      BR  -10.3353   -67.1856     80.92         NaN
62             Atambua      ID   -9.1061   124.8925     85.23         NaN
85           Iowa City      US   41.6611   -91.5302     77.65         NaN
114            Douglas      US   41.3000   -96.1670     80.58         NaN
142          Hongjiang      CN   27.1100   109.9956     84.27         NaN
188              Adrar      MR   20.5022   -10.0711     89.02         NaN
191          Hong Kong      HK   22.2855   114.1577     86.38         NaN
221             Temple      US   31.0982   -97.3428     84.58         NaN
233             Guilin      CN   25.2819   110.2864     83.14         NaN
297             Pierre      US   44.3683  -100.3510     82.85         NaN
329           Yasothon      TH   15.7500   104.1333     79.86         NaN
396           Shanghai      CN   31.2222   121.4581     82.87         NaN
422            Lincoln      US   40.8000   -96.6670     83.55         NaN
455             Payson      US   40.0444  -111.7321     80.35         NaN
459            Brandon      US   27.9378   -82.2859     82.31         NaN
534            Fomboni      KM  -12.2800    43.7425     76.53         NaN
557              Mīnāb      IR   27.1467    57.0801     83.89         NaN

In [15]:
# Hit the Google Places API for each city's coordinates.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [ ]:
# Set parameters to search for hotels with 5000 meters.

In [16]:
# Set parameters to search for hotels with 5000 meters.
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "Hotel",
    "key": g_key
}

# Use the lat/lng to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from hotel_df
    lat = row["Latitude"]
    lng = row["Longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"


    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#print the name_address url, avoid doing for public github repos in order to avoid exposing key
    print(name_address.url)

    # convert to json
    name_address = name_address.json()
    print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        hotel_df.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
        hotel_df.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df.info()

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=-10.3353%2C-67.1856
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=-9.1061%2C124.8925
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=41.6611%2C-91.5302
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=41.3%2C-96.167
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=27.11%2C109.9956
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=20.5022%2C-10.0711
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=22.2855%2C114.1577
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=31.0982%2C-97.3428
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=25.2819%2C110.2864
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=44.3683%2C-100.351
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=15.75%2C104.1333
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=31.2222%2C121.4581
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=40.8%2C-96.667
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=40.0444%2C-111.7321
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=27.9378%2C-82.2859
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=-12.28%2C43.7425
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=Hotel&key=AIzaSyC59EnJEQFUifMjnDQRaoJnnAjfeCmhGFM&location=27.1467%2C57.0801
{
    "error_message": "This API project is not authorized to use this API.",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 56 to 557
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        17 non-null     object
 1   Country     17 non-null     object
 2   Latitude    17 non-null     float64
 3   Longitude   17 non-null     float64
 4   Max Temp    17 non-null     float64
 5   Hotel Name  0 non-null      float64
dtypes: float64(4), object(2)
memory usage: 952.0+ bytes

In [ ]:
# ReDisplay New Hotel Dataframe with base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotel_df

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [ ]:
hotel_df

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)


# Display figure
fig